ul.stack-list {
    text-align: left;
}

a.film-operation {
    cursor: pointer;
}

.subfolder .subfolder, .subfolder .subfolder .subfolder {
    display: none;
}

.subfolder{
    cursor:pointer;
}


p.level1 {
    font-size: 1.3em;
}

p.level2 {font-size: 1.1em;}
p.level3 {font-size: 0.9em;}
p.level4 {font-size: 0.5em;}

.full-wrapper {
    text-align: right;
}

section.output-text p {
    text-align: left;
}
