 {% extends "base.html" %}
{% load static %}

{% block sidebar %}
<li id="menu-item-text" class="menu-item scroll"><a href="#library-page">Library</a></li>
{% endblock %}

{% block content %}
<article id="intro" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg1.jpg' %}">
  <div class="content-wrapper clearfix">
    <div class="col-sm-10 col-md-9 pull-right">

        <section class="feature-text">
          <h1>Transfer Matrix Model</h1>
        </section>

        <section class="">
        <ul class="stack-list" id="stack"search>
        </ul>
        <form method="POST" id="save-form" name="{{project.pk}}">
            {% csrf_token %}
            <div>
            </div>
            <input type="submit" class="link-scroll btn btn-outline-inverse btn-lg" value="Save">
        </form>

        
        </section>


    </div><!-- .col-sm-10 -->
  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->

<article id="library-page" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg1.jpg' %}">
  <div class="full-wrapper clearfix">
    <div class="col-sm-10 col-md-6">
    <section class="output-text" id="lib-page">
    </section>
    </div>
    <div class="col-sm-10 col-md-6 pull-right">

        <section class="feature-text">
          <h1>Library</h1>
        </section>

        <section id="library-search">

            <div class="form-group">
                <form method="post" id="search-form">
                    <input type="text" id="search-text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="" name="name">
                    <br/>
                     <button type="submit" class="btn btn-sm btn-outline-inverse">Search</button>
                 </form>
            </div>  
        </section>

        <section id="library-list">
        </section>


    </div><!-- .col-sm-10 -->
  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->
{% endblock %}

{% block script %}

    <script src="{% static 'js/tmm.js' %}"></script>
    <script src="{% static 'js/plot.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>

    <script>
    //initiate
    var config = parseJSON("{{project.json}}");
    var library = parseJSON("{{library}}");
    console.log(library);
    listStack(config);
    var html  = parseLibrary(library);
    $('#library-list').html(html);
    var libpage = new Object();

    //var key = new RegExp(/Telluride/i)
    </script>

{% endblock %}
